.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  flex-wrap: wrap;
}

.attackActive {
  width: 11rem;
  height: 11vh;
  border: 2px solid #151414;
  cursor: pointer;
  background: var(--active-green);
  margin: 0.1rem;
  box-shadow: 0 8px 20px rgb(0, 0, 0, 0.4);
  margin: 0.5rem 0.1rem;
}
.attackInactive {
  width: 11rem;
  height: 11vh;
  border: 2px solid #151414;
  cursor: pointer;
  background: var(--btn-bgr);
  margin: 0.5rem 0.1rem;
}

.btnWrapper {
  width: 12rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.utilActive {
  width: 12rem;
  height: 5.3vh;
  margin: 0.1rem;
  background: var(--active-green);
  border: 2px solid #151414;
  box-shadow: 0 8px 20px rgb(0, 0, 0, 0.4);

}
.utilInactive {
  width: 12rem;
  height: 5.3vh;
  margin: 0.1rem;
  background: var(--btn-bgr);
  border: 2px solid #151414;
}

.attackActive:hover,
.attackInactive:hover,
.utilInactive:hover,
.utilActive:hover {
  box-shadow: 8px 20px 20px rgb(0, 0, 0, 0.4);
}


.announcer{
  width: 74rem;
  max-width: 70vw;
  height: 11vh;
  background: rgb(196, 191, 191, .5);
  margin: 0 .2rem;
  border-radius: 5px;
  border: 2px solid #151414;
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;

}

.playerStatic {
  transform: scaleX(-1) translateX(0px);
  transform: scaleX(-1) translateY(0px) ;
  transition: 0.5s;
}

.enemyStatic {
  transform: translateX(0px);
  transform: translateY(0px);
  transition: 0.5s;
}


.playerAttack {
  transition: 0.1s;
  transform: translateX(100px) scaleX(-1);
}
.enemyAttack {
  transition: 0.1s;
  transform: translateX(-100px);
}

.playerSpecialAttack {
  transition: 0.2s;
  transform: scaleX(-1) translateY(-25px);
  animation: playerShake 0.5s infinite;
}

.enemySpecialAttack {
  transition: 0.2s;
  transform: translateY(-25px);
  animation: shake 0.5s infinite;
}

.playerDamage {
  transform: scaleX(-1);
  opacity: 1;
  animation: flash 0.3s 0.3s infinite;
}

.enemyDamage {
  opacity: 1;
  animation: flash 0.3s 0.3s infinite;
}

@keyframes playerShake {
  0% {
    transform: scaleX(-1) translate(1px, 1px) rotate(0deg) translateY(-25px);
  }
  10% {
    transform:  scaleX(-1) translate(-1px, -2px) rotate(-1deg) translateY(-25px);
  }
  20% {
    transform: scaleX(-1) translate(-3px, 0px) rotate(1deg) translateY(-25px);
  }
  30% {
    transform: scaleX(-1) translate(3px, 2px) rotate(0deg) translateY(-25px);
  }
  40% {
    transform: scaleX(-1) translate(1px, -1px) rotate(1deg) translateY(-25px);
  }
  50% {
    transform: scaleX(-1) translate(-1px, 2px) rotate(-1deg) translateY(-25px);
  }
  60% {
    transform: scaleX(-1) translate(-3px, 1px) rotate(0deg) translateY(-25px);
  }
  70% {
    transform: scaleX(-1) translate(3px, 1px) rotate(-1deg) translateY(-25px);
  }
  80% {
    transform: scaleX(-1) translate(-1px, -1px) rotate(1deg) translateY(-25px);
  }
  90% {
    transform: scaleX(-1) translate(1px, 2px) rotate(0deg) translateY(-25px);
  }
  100% {
    transform: scaleX(-1) translate(1px, -2px) rotate(-1deg) translateY(-25px);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg) translateY(-25px);
  }
  10% {
    transform:  translate(-1px, -2px) rotate(-1deg) translateY(-25px);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg) translateY(-25px);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg) translateY(-25px);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg) translateY(-25px);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg) translateY(-25px);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg) translateY(-25px);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg) translateY(-25px);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg) translateY(-25px);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg) translateY(-25px);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg) translateY(-25px);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}