.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
}

.footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.preFightFooter {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btnWrapper {
  width: 12rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.battleBtn {
  width: 11rem;
  height: 13vh;
  border: 2px solid var(--pokemon-blue);
  cursor: pointer;
  background: var(--pokemon-yellow);
  margin: 0.1rem;
  box-shadow: 0 8px 8px rgb(0, 0, 0, 0.4);
  margin: 0.5rem 0.1rem;
  font-size: 1.2rem;
  line-height: 1.4;
}

.utilBtn {
  width: 12rem;
  height: 6vh;
  margin: 0.1rem;
  background: var(--pokemon-yellow);
  border: 2px solid var(--pokemon-blue);
  box-shadow: 0 8px 20px rgb(0, 0, 0, 0.4);
  line-height: 1.4;
}

.battleBtn:hover,
.utilBtn:hover {
  box-shadow: 8px 20px 20px rgb(0, 0, 0, 0.4);
}

.playerStatic {
  transform: scaleX(-1) translateX(0px);
  transform: scaleX(-1) translateY(0px);
  transition: 0.5s;
}

.enemyStatic {
  transform: translateX(0px);
  transform: translateY(0px);
  transition: 0.5s;
}

.playerAttack {
  transition: 0.1s;
  transform: translateX(100px) scaleX(-1);
}
.enemyAttack {
  transition: 0.1s;
  transform: translateX(-100px);
}

.playerSpecialAttack {
  transition: 0.2s;
  transform: scaleX(-1) translateY(-25px);
  animation: playerShake 0.5s infinite;
}

.enemySpecialAttack {
  transition: 0.2s;
  transform: translateY(-25px);
  animation: shake 0.5s infinite;
}

.playerDamage {
  transform: scaleX(-1);
  opacity: 1;
  animation: flash 0.3s 0.3s infinite;
}

.enemyDamage {
  opacity: 1;
  animation: flash 0.3s 0.3s infinite;
}
.catchPokemon {
  opacity: 1;
  animation: flash 0.3s 0.3s infinite;
}
.hide {
  transform: scaleX(-1);
  visibility: hidden;
  transition: 0.5s;
}

.caught {
  display: none;
}

.pokeballCatch {
  background: url("../assets/pokeball.png") no-repeat center center/cover;
  position: absolute;
  width: 5rem;
  height: 5rem;
  bottom: -10vh;
  right: 30vw;
  animation: spin 1s linear forwards;
}

.pokeballStartFight {
  background: url("../assets/pokeball.png") no-repeat center center/cover;
  position: absolute;
  width: 5rem;
  height: 5rem;
  bottom: -10vh;
  left: 10vw;
  animation: spin 1s linear forwards;
}

@keyframes spin {
  0% {
    transform: translate(1, 0) rotate(0deg);
  }
  25% {
    transform: translate(2rem, -7rem) rotate(360deg);
  }
  50% {
    transform: translate(3rem, -14rem) rotate(720deg);
  }
  75% {
    transform: translate(4rem, -23rem) rotate(1080deg);
  }
  100% {
    transform: translate(5rem, -30rem) rotate(1420deg);
  }
}

@keyframes playerShake {
  0% {
    transform: scaleX(-1) translate(1px, 1px) rotate(0deg) translateY(-25px);
  }
  10% {
    transform: scaleX(-1) translate(-1px, -2px) rotate(-1deg) translateY(-25px);
  }
  20% {
    transform: scaleX(-1) translate(-3px, 0px) rotate(1deg) translateY(-25px);
  }
  30% {
    transform: scaleX(-1) translate(3px, 2px) rotate(0deg) translateY(-25px);
  }
  40% {
    transform: scaleX(-1) translate(1px, -1px) rotate(1deg) translateY(-25px);
  }
  50% {
    transform: scaleX(-1) translate(-1px, 2px) rotate(-1deg) translateY(-25px);
  }
  60% {
    transform: scaleX(-1) translate(-3px, 1px) rotate(0deg) translateY(-25px);
  }
  70% {
    transform: scaleX(-1) translate(3px, 1px) rotate(-1deg) translateY(-25px);
  }
  80% {
    transform: scaleX(-1) translate(-1px, -1px) rotate(1deg) translateY(-25px);
  }
  90% {
    transform: scaleX(-1) translate(1px, 2px) rotate(0deg) translateY(-25px);
  }
  100% {
    transform: scaleX(-1) translate(1px, -2px) rotate(-1deg) translateY(-25px);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg) translateY(-25px);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg) translateY(-25px);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg) translateY(-25px);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg) translateY(-25px);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg) translateY(-25px);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg) translateY(-25px);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg) translateY(-25px);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg) translateY(-25px);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg) translateY(-25px);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg) translateY(-25px);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg) translateY(-25px);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
