.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.one {
    position: absolute;
    top: 10vh;
    left: 15vw;
  }

  @keyframes upDown {
    0% {transform: translateY(-10%);}
    100% {transform: translateY(0);}
  }