.enemyEvent {
    background: url(../assets/eventPointer.png) no-repeat center center/cover;
    width: 7rem;
    height: 7rem;
    animation: upDown infinite alternate-reverse .7s;
    cursor: pointer;
}

@keyframes upDown {
    0% {transform: translateY(-2%);}
    100% {transform: translateY(0);}
  }