.fightingPokemon {
  width: 20rem;
  height: 20rem;
}

.enemy {
  position: absolute;
  bottom: 20vh;
  right: 2vw;
}

.enemyBeforeStart {
  position: absolute;
  bottom: 20vh;
  right: 30vw;
}

.player {
  position: absolute;
  bottom: 13vh;
  left: 2vw;
}

.pokemonAndInfoWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemonAndInfoWrap *{
  font-size: 1.1rem;
  font-weight: 550;
}

.infoWrapper {
  width: max-content;
  height: 5rem;
  background: rgb(196, 191, 191, .6);
  box-shadow: 0 8px 20px rgb(0, 0, 0, 0.4);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: .1rem .2rem;
  font-weight: 550;
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name{
  margin-right: 1.5rem;
}

.playerInfo {
  transform: scaleX(-1);
}

.barWrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.barMax {
  width: 14rem;
  height: 2rem;
  background: white;
  border-radius: 5px;
}

.barValue {
    height: 2rem;
    background: rgb(15, 128, 15);
    border-radius: 5px;
}
