.arrowRight {
  background: url(../assets/arrowRight.png) no-repeat center center/cover;
  position: absolute;
  top: 50%;
  right: 7rem;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.arrowLeft {
  background: url(../assets/arrowLeft.png) no-repeat center center/cover;
  position: absolute;
  top: 50%;
  left: 3.5rem;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.chooseButton {
  width: 20rem;
  height: 3.5rem;
}
