@font-face {
  font-family: 'pokemon';
  src: url(./assets/pokemon_font.ttf);
}
@font-face {
  font-family: 'pokemonRetro';
  src: url(./assets/PokemonGb-RAeo.ttf);
}

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'pokemonRetro';
}

body, html {
  font-size: 62.5%;
  width: 100vw;
  font-weight: 500;
}

#root {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  line-height: 1.6;
  background: var(--bgr-main);
  position: relative;
}

a:visited{
  color: inherit;
}

ul {
  list-style: none;
}

input {
  height: max-content;
  padding: .3rem;
  width: 15rem;
  border-radius: 3px;
  background: rgb(255, 255, 255, 0.7);

}
h1 {
  font-size: 2.6rem;
  line-height: 100%;
  margin-top: 2rem

}

@media(max-width:500px){
  body,html {
    font-size: 50%;
  }
}

.scaleAvatar {
  transform: scale(1.3);
  transition: .5s ease-in-out all;
}

h2 {
  font-family: 'pokemon';
  font-size: 4rem;
  letter-spacing: .2rem;
  line-height: 1.2;
}

h1 {
  font-family: 'pokemon';
  font-size: 8rem;
  letter-spacing: .2rem;
  color: var(--pokemon-yellow);
  text-shadow: -1px -1px 0 var(--pokemon-blue), 1px -1px 0 var(--pokemon-blue), -1px 1px 0 var(--pokemon-blue), 1px 1px 0 var(--pokemon-blue);
}

button {
  background: var(--pokemon-yellow);
  border: 3px solid var(--pokemon-blue);
  border-radius: 5px;
  margin: 0.5rem;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  font-weight: 550;
  font-size: 1.3rem;
}

.enemy0 {
  position: absolute;
  bottom: 2vh;
  left:10vw
}
.enemy1 {
  position: absolute;
  bottom: 30vh;
  left:5vw
}

.enemy2 {
  position: absolute;
  bottom:45vh;
  right:65vw
}

.enemy3 {
  position: absolute;
  bottom: 50vh;
  left:60vw
}
.enemy4 {
  position: absolute;
  bottom: 30vh;
  left:50vw
}
.enemy5 {
  position: absolute;
  bottom: 10vh;
  right:15vw
}
