html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  font-size: 62.5%;
  width: 100vw;
}

#root {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  line-height: 1.6;
  background: var(--bgr-main)
}

a:visited{
  color: inherit;
}

ul {
  list-style: none;
}

.spinner {
  height: 6rem;
  width: 6rem;
  border-radius: 50px;
  border-top: .5rem solid var(--btn-bgr);
  border-right: .5rem solid var(--btn-bgr);
  animation: spin 1s linear infinite;
  margin: 2rem;
  margin-bottom: 4rem;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@media(max-width:500px){
  body,html {
    font-size: 50%;
  }
}
