:root {
    --bgr-screenCover: rgB(0,0,0,.6);
    --bgr-nestedWindow: rgb(147,138,138, .9 );
    --pokemon-blue: #0068B5;
    --pokemon-yellow: #FFCC00;
    --pokemon-red: #C12B36;
    --btn-bgr: #c4bfbf;
}