.wrapper {
  width: 90vw;
  max-width: 50rem;
  height: 60vh;
  background: var(--bgr-nestedWindow);
  border-radius: 8px;
  box-shadow: 0 1px 8px rgb(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem
}
