.wrapper {
    width: 90vw;
    max-width: 40rem;
    height: 70vh;
    background: var(--bgr-nestedWindow);
    box-shadow: 0 1px 8px rgb(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    border: 1rem solid black;
    border-radius: 15px;
  }
  