.wrapper {
  width: 95vw;
  max-width: 43rem;
  height: 55vh;
  min-height: 60rem;
  background: url(/src/assets/pokedexModal.png) no-repeat center center/cover;
  box-shadow: 0 1px 8px rgb(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
